anyio==4.12.0
argcomplete==3.6.2
attrs==25.4.0
btrfsutil==6.17.1
build==1.3.0
certifi==2025.11.12
cffi==2.0.0
click==8.2.1
colorama==0.4.6
cryptography==46.0.3
cupshelpers==1.0
dbus-python==1.4.0
editables==0.5
fastjsonschema==2.21.2
filelock==3.20.0
gps==3.27.3
h11==0.16.0
hatchling==1.28.0
httpcore==1.0.9
httpx==0.28.1
hyprshade==4.0.1
idna==3.11
installer==0.7.0
lark==1.3.1
lit==21.1.6.dev0
more-itertools==10.8.0
nftables==0.1
OpenTimelineIO==0.18.1
packaging==25.0
pathspec==0.12.1
pluggy==1.6.0
poetry-core==2.2.1
pwquality==1.4.5
pyaaf2==1.7.1
pycairo==1.29.0
pycparser==2.23
pycups==2.0.4
PyGObject==3.54.5
pyproject_hooks==1.2.0
python-dotenv==1.2.1
python-telegram-bot==22.5
pyxdg==0.28
PyYAML==6.0.3
shtab==1.8.0
termcolor==3.2.0
terminaltexteffects==0.14.2
tldr==3.4.3
tomlkit==0.13.3
trove-classifiers==2025.12.1.14
typing_extensions==4.15.0
ufw==0.36.2
wheel==0.45.1
xmltodict==1.0.2
yq==3.4.3
